################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BedrockBank2/bin/Debug
/BedrockBank2/obj/Debug
